<div id="taxonomies" class="sidebar-item">
<% get_taxonomies.reverse.each do |taxonomy| %>
	  <h3<%= ' class="current"' if (@taxon && ([@taxon] + @taxon.ancestors).include?(taxonomy.root)) || (!@taxon && taxonomy.name == "Compositeurs") %>><%= taxonomy.name %></h3>
		  <div>
		  <ul>
		  <% taxonomy_root_children = taxonomy.root.children.sort %>
		  <% taxonomy_root_children.each do |taxon| %>
		    <li<%= ' class="current_child"' if @taxon and ([@taxon] + @taxon.ancestors).include?(taxon) %>><%= link_to taxon.name, seo_url(taxon) %></li>
		  <% end %>
		  </ul>
	  </div>
<% end %>
</div>
